# Data Types :-

1. Strings     ""  (Single / Double / Triple Quoted Strings)
2. List        []  (Collection of elements)
3. Tuple       ()  (Frozen List)
4. Set         {}  (Collection of unordered and unique elements )
5. Dictionary  {}  (Collection of Unique elements(keys) key:value)
6. Boolean         (True / False)
7. Numbers
    Int            (whole numbers)
    Float          (decimal numbers)
    Complex        (real + imaginary numbers)

Mutable :- If values has been assign to that datatype and it can be change then it is called mutable datatype.
eg:-1. List
    2. Dictionary
    3. Set
    
Immutable :- If values has been assign to that datatype and it cannot be change then it is called immutable datatype.
eg:-1. String
    2. Tuple
    3. Numbers

## 1. Strings  " "
#### alphabet / numbers

In [1]:
x = "Hello World"     # "Hello World" = string
x

type(x)    # str means string

str

### methods of strings

In [2]:
x.upper()

'HELLO WORLD'

In [3]:
x.lower()

'hello world'

In [4]:
x.split()    # convert into list

['Hello', 'World']

In [5]:
x[0].isupper()    # value of 1st letter is capital

True

In [6]:
x[0].islower()    # value of 1st letter is lower case

False

In [7]:
x.strip()    # delete white spaces

'Hello World'

In [8]:
x.capitalize()    # 1st letter capital other small

'Hello world'

In [9]:
x.swapcase()    # capital becomes small and small becomes capital

'hELLO wORLD'

In [10]:
x.count("l")    # count total number of "l" in string

3

In [11]:
len(x)    # count total length of string including spaces

11

In [12]:
y = x[0:5]    # indexing [start : stop]
y

'Hello'

## 2. Lists  [ ]
#### collection of elements

In [13]:
a = [1,2,3,"Harshit"]
a

type(a)    # type of "a"

list

### Nested list - list inside list

In [14]:
a=["Harshit", [1,3,-5]]
a

['Harshit', [1, 3, -5]]

In [15]:
len(a)    # total length of list

2

### indexing

In [16]:
a[0]    # 0 = 1st list    0,1,2,3....

'Harshit'

In [17]:
a[1]    # 1 = 2nd list

[1, 3, -5]

### nested indexing

In [18]:
a[0][1]    # 1st list 2nd character

'a'

### negative indexing

In [19]:
a[-1]    # -1,-2,-3....

[1, 3, -5]

### list slicing

In [20]:
a[0:2]    # [start : stop]

['Harshit', [1, 3, -5]]

### step

In [21]:
a[1:2:1]    # [start : stop : step] step gives alternate or triple number 2/3....

[[1, 3, -5]]

### append

In [22]:
a.append("Vartak")    # to add any text or number to list
a

['Harshit', [1, 3, -5], 'Vartak']

### extend

In [23]:
a.extend(["Harshit , Vartak"])    # add text at end of list
a

['Harshit', [1, 3, -5], 'Vartak', 'Harshit , Vartak']

### insert

In [24]:
a.insert(1,"Hello")    # add text at given position
a

['Harshit', 'Hello', [1, 3, -5], 'Vartak', 'Harshit , Vartak']

### remove

In [25]:
a.remove("Harshit")    # remove text from list
a

['Hello', [1, 3, -5], 'Vartak', 'Harshit , Vartak']

### change

In [26]:
a=[1,2,3,4,5,10]    # change element of list using indexing
a[5]=6
a

[1, 2, 3, 4, 5, 6]

## 3. Tuple  ( )
#### frozen list

In [27]:
a=('Harshit',10,11.55)    # type of 'a'
type(a)

tuple

In [28]:
a=(10,20,['Harshit',11])    # list inside tuple
type(a)

tuple

### indexing

In [29]:
a[2]

['Harshit', 11]

In [30]:
"50" not in (a)    # True or False value

True

In [31]:
a=('Harshit')    # add two tuple
b=('Vartak')
c=a +' '+ b
c

'Harshit Vartak'

## 4. Sets { }
#### unique elements

In [32]:
a={1,2,4,1,5,2,3}    # output dont have duplicate value
a

{1, 2, 3, 4, 5}

In [33]:
type(a)    # type of 'a'

set

In [34]:
a=[1,2,1,3,2]    # converts from list to set and remove duplicates 
b=set(a)         # default
b

{1, 2, 3}

In [35]:
b=list(set(a))    # to remove duplicate from list and get output in list only
b

[1, 2, 3]

#### add

In [41]:
a.append("Harshit")    # add element in sets []=append , {}=add
a

[1, 2, 1, 3, 2, 'Harshit', 'Harshit']

#### symmetric_difference

In [42]:
a={10,20,30,40,50}    # want unique element from both set
b={30,40,50,60,70}
print(a.symmetric_difference(b))

{20, 70, 10, 60}

## 5. Dictionary { }
#### { key : value }

In [43]:
a={'1':'ABC' , '2':'PQR' , '3':'XYZ'}    # type of 'a'
type(a)

dict

In [44]:
a['1']    # value of key (1)

'ABC'

### add

In [45]:
a['4']='LMN'    # to add elements in dictionary
a

{'1': 'ABC', '2': 'PQR', '3': 'XYZ', '4': 'LMN'}

### dictionary to list

In [46]:
a=list(a.values())    # convert to list
a

['ABC', 'PQR', 'XYZ', 'LMN']

In [60]:
my_dict = {'A': 42, 'B':52, 'C':29}
my_values = my_dict['key']  # Accessing the value associated with the key
my_values

KeyError: 'key'

In [59]:
my_dict.keys()    # all keys in dictionary

dict_keys(['key'])

### update

In [49]:
a={'1':{'name':'Harshit' , 'age':'24'}}    # update element in dictionary
a['1']['age']=22
a

{'1': {'name': 'Harshit', 'age': 22}}

### delete

In [50]:
del(a)    # delete dictionary

## 6. Booleans 
#### True / False

In [51]:
a=10
b=20
print(a!=b)    # gives values in True / False format

True

In [52]:
print(a==b)

False